/*-- HTML5 Boilerplate. -----------------------------------------------------*/

/*
@import "../../vendor/h5bp/css/normalize.css";
@import "../../vendor/h5bp/css/main.css";
*/

/*-- Application stylesheets. -----------------------------------------------*/

/* !-------------   mondo   --------------- */
@font-face {
	font-family: FuturaBk;
	src: url("../../assets/fonts/futBk.otf");
}
@font-face {
	font-family: FuturaBk;
	font-style: italic;
	src: url("../../assets/fonts/futBkObl.otf");
}
@font-face {
	font-family: Futura;
	src: url("../../assets/fonts/futMed.otf");
}
@font-face {
	font-family: Futura;
	font-style: italic;
	src: url("../../assets/fonts/futMedObl.otf");
}
@font-face {
	font-family: Futura;
	font-weight: bold;
	src: url("../../assets/fonts/futHeavy.otf");
}
@font-face {
	font-family: Futura;
	font-style: italic;
	font-weight: bold;
	src: url("../../assets/fonts/futHeavyObl.otf");
}

a { 
	color: black; 
	text-decoration: none;
	font: normal normal 13px/1.2em "Futura", "Lucida Console", monospace;
	letter-spacing: 0.3em;
	-webkit-transition:color .1s ease-in-out;  
   	-moz-transition:color .1s ease-in-out;  
   	-o-transition:color .1s ease-in-out;  
   	transition:color .1s ease-in-out;

}
a:hover { color: rgb(251,255,103) }
a:active { color: red }

html {
	background: url("../../assets/images/cloudgrain_big.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#mondo {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.container {
	display: none;
	position: absolute;
	font: normal normal 12px/1.2em "FuturaBk", "Lucida Console", monospace;
	color: black;
	letter-spacing: 0.15em;
/* 	border: 1px solid rgba(0,0,0,0.05); */
	left: 0;
	top: 0;
}

.header { 
	display: none;
	
	white-space: nowrap;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,0.7);
}

.nav {
	background: rgba(255,0,0,0.3);
	font: normal normal 12px/1.2em "FuturaBk", "Lucida Console", monospace;
}

a.logo {
	font: normal normal 24px/2em "FuturaBk", "Lucida Console", monospace;
	color: rgb(175,175,175);
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-decoration: none;
	padding-left: 1em;
	float: left;
}

.nav ul {
	list-style-type: none;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

.nav ul li {
	float: left;
	padding: 1.35em 2em;
	margin-left: 3em;
}

.nav a {
	color: rgb(175,175,175);
	-webkit-transition:color .1s ease-in-out;  
   	-moz-transition:color .1s ease-in-out;  
   	-o-transition:color .1s ease-in-out;  
   	transition:color .1s ease-in-out;
}
.nav a:hover {
	color: rgb(251,255,103);
}

.debug {
	position: fixed;
	width: 300px;
	height: 100px;
	top: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	color: white;
	padding: 50px;
}

/* !-------------   home   --------------- */

.home {
	white-space: nowrap;
	text-align: center;
}

.home a { 
	color: black; 
	text-decoration: none;
	font: normal normal 16px/1.2em "Futura", "Lucida Console", monospace;
	letter-spacing: 0.12em;
}
.home a:hover { color: rgb(251,255,103) }
.home a:active { color: red }

.home ul {
	/* kill native css */
	list-style-type: none;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px; 
	
	margin-top: 30px;
}

.home li {
	list-style: none;
	padding: 10px 0;
}

a.homelogo {
	font: normal normal 30px/1.2em "Futura", "Lucida Console", monospace;
	color: black;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-decoration: none;
}

/* !-------------   projects   --------------- */

.name {
	display: none;
}

/* !-------------   svg   --------------- */

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

svg.projects {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

g.node {
	position: absolute;
}

g.node:hover circle.orbcircle {
	fill: rgba(255,255,0,1);
}

/* links */

g.link {
	cursor: pointer;
}

ellipse.link {
	fill: rgba(255,255,255,0);
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
}

circle.orbcircle {
	fill: rgba(255,255,255,0.5);
	stroke: black;
	stroke-width: 2pt;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}
g.link:hover ellipse.link{
	fill: red;
}

text.link {
	font: 8pt "Menlo", "Consolas", "Lucida Console", "Courier", monospace;
	text-anchor: middle;
	baseline-shift: -30%;
}



/* !------------- controls -------------- */

.controls {
	position: absolute;
	right: 0;
	text-align: center;
	width: 200px;
	top: 0;
}

