/*-- HTML5 Boilerplate. -----------------------------------------------------*/

/*
@import "../../vendor/h5bp/css/normalize.css";
@import "../../vendor/h5bp/css/main.css";
*/

/*-- Application stylesheets. -----------------------------------------------*/

/* !-------------   mondo   --------------- */
@font-face {
	font-family: FuturaBk;
	src: url("../../assets/fonts/futBk.otf");
}
@font-face {
	font-family: FuturaBk;
	font-style: italic;
	src: url("../../assets/fonts/futBkObl.otf");
}
@font-face {
	font-family: Futura;
	src: url("../../assets/fonts/futMed.otf");
}
@font-face {
	font-family: Futura;
	font-style: italic;
	src: url("../../assets/fonts/futMedObl.otf");
}
@font-face {
	font-family: Futura;
	font-weight: bold;
	src: url("../../assets/fonts/futHeavy.otf");
}
@font-face {
	font-family: Futura;
	font-style: italic;
	font-weight: bold;
	src: url("../../assets/fonts/futHeavyObl.otf");
}

a { 
	color: black; 
	text-decoration: none;
	font: normal normal 13px/1.2em "FuturaBk", "Lucida Console", monospace;
	word-spacing: -0.3em;
	letter-spacing: 0.3em;
	-webkit-transition:color .1s ease-in-out;  
   	-moz-transition:color .1s ease-in-out;  
   	-o-transition:color .1s ease-in-out;  
   	transition:color .1s ease-in-out;

}
a:hover { color: rgb(251,255,103) }
a:active { color: red }

html {
	background: url("../../assets/images/cloudgrain_big.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin-bottom: 1em;
}

#mondo {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.container {
/* 	border: 1px solid rgba(0,0,0,0.3); */
	text-align: left;
	width: auto;
	position: absolute;
	font: normal normal 12px/1.2em "FuturaBk", "Lucida Console", monospace;
	word-spacing: -0.3em;
	color: black;
	letter-spacing: 0.15em;
	left: 0;
	top: 0;
	overflow: auto;
}

.container.skinny {
/* 	border: 1px solid rgba(255,0,0,1); */
	text-align: center;
	width: 100%;
	left: 0;
	top: 0;
}

.header {
	white-space: nowrap;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,0.7);
}

a.logo {
	font: normal normal 24px "FuturaBk", "Lucida Console", monospace;
	color: rgb(175,175,175);
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-decoration: none;
	margin: 0.3em 0 0.3em 20px;
	float: left;
}

.nav.skinny a.logo {
	width: 100%;
	clear: both;
}

.nav ul {
	list-style-type: none;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

.nav ul li {
	float: left;
	padding: 1em 2em;
	margin-left: 0;
	word-spacing: -0.3em;
}

.nav.skinny ul li {
	padding: 0 1em 1em 0;
	margin-left: 20px;
}


.nav a {
	color: rgb(175,175,175);
	-webkit-transition:color .1s ease-in-out;  
   	-moz-transition:color .1s ease-in-out;  
   	-o-transition:color .1s ease-in-out;  
   	transition:color .1s ease-in-out;
}
.nav a:hover {
	color: rgb(251,255,103);
}

.debug {
	position: fixed;
	width: 300px;
	height: 100px;
	top: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	color: white;
	padding: 50px;
}

/* !-------------   home   --------------- */

.home {
	white-space: nowrap;
	text-align: center;
}

.home a { 
	color: black; 
	text-decoration: none;
	font: normal normal 16px/1.2em "Futura", "Lucida Console", monospace;
	word-spacing: -0.3em;
	letter-spacing: 0.12em;
}
.home a:hover { color: rgb(251,255,103) }
.home a:active { color: red }

.home ul {
	/* kill native css */
	list-style-type: none;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px; 
	
	margin-top: 30px;
}

.home li {
	list-style: none;
	padding: 10px 0;
}

.homelogo {
	font: normal normal 30px/1.2em "Futura", "Lucida Console", monospace;
	color: black;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-decoration: none;
}

/* !-------------   projects   --------------- */

.skelback {	
	display: none;
	cursor: pointer;
	float: left;
	width: 250px;
	height: 250px;
	border: 4px solid black;
	margin: 0 -4px -4px 0;
	background-color: rgba(0,0,0,0.5);
}

.skelproj {
	text-align: left;
	display: none;
	float: left;
	width: 100%;
	height: 100%;
	color: white;
}

.skelproj h1 {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px; 
	
	font-size: 18px;
	line-height: 1.2em;
	font-weight: normal;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin: 0;
	padding: 10px;
}

.skelproj h2 {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px; 
	
	font-size: 11px;
	line-height: 1.2em;
	font-weight: normal;
	letter-spacing: 0.2em;
	text-transform: lowercase;
	padding: 10px;
}

/* !----------   single project   ---------- */


.single .sidebar {
/* 	background: rgba(255,255,255,0.3); */
	padding: 0 50px;
	float: left;
	position: fixed;
}

.single .sidebar.skinny {
	padding: 0 50px 0 0;
	float: left;
	position: relative;
}


table {
	border-collapse: collapse !important;
	border-spacing: 0px !important;
	border: 0px rgba(0,0,0,0) !important;
}

.sidetable th {
	text-align: left;
	vertical-align: middle;
	font-size: 30px;
	line-height: 1.2em;
	font-weight: normal;
	letter-spacing: 0.1em;
	text-transform: capitalize;
	margin: 0;
}

.sidetable th.skinny {
	font-size: 20px;
	line-height: 1.1em;
}

.sidetable td {
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	line-height: 1.2em;
	font-weight: normal;
	letter-spacing: 0.1em;
	text-transform: lowercase;
	margin: 0;
}

.sidetable td.skinny {
	font-size: 11px;
	line-height: 2em;
}

.mainstage {
/* 	background: rgba(0,0,0,0.3); */
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
}

.content_thumb {
	border: 5px solid black;
	width: 100px;
	height: 100px;
	margin: 15px 20px 20px 0px;
	float: left;
}

.little_thumb {
	display: none;
	border: 5px solid black;
	position: absolute;
}

.maincontent {
	padding-top: 15px;
	padding-right: 20px;
}

.maincontent.child {
	padding-top: 50px;
	clear: both;
}

.maincontent p {
	font-size: 11px;
	letter-spacing: .2em;
	line-height: 1.2em;
}

/* !- - - - - - gallery - - - - - -*/

.gthumb {
	border: 2px solid black;
	width: 100px;
	height: 100px;
	float: left;
	margin: 0px -2px -2px 0;
}

.gfill {
	cursor: pointer;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0);
}

.photobox {
	position: fixed;
	visibility: hidden;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(125,125,125,.98);
}

table.gallery {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

td.previmg, td.nextimg {
	opacity: 0.05;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

td.currimg {
	vertical-align: top;
	width: auto;
}

img.currimg {
	margin-top: 0;
	z-index: 2;
}

tr.text {
	position: absolute;
	top: 0;
	visibility: hidden;
	font: italic normal 14px/1.2em "FuturaBk", "Lucida Console", monospace;
}

.text p {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin-bottom: 0px;
	padding: 1em 2em;
}

td.prev, td.next {
	vertical-align: middle;
	font-style: normal;
	font-size: 16px;
	letter-spacing: 0.1em;
}

td.prev {
	text-align: left;
}

td.next {
	text-align: right;
}


td.curr {
	vertical-align: bottom;
	text-align: center;
}

.text #caption {
	background: rgba(255,255,255,0.7);
}


/* !-------------   svg   --------------- */

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

svg.projects {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

g.node {
	position: absolute;
}

g.node:hover circle.orbcircle {
	fill: rgba(255,255,0,1);
}

/* links */

g.link {
	cursor: pointer;
}

ellipse.link {
	fill: rgba(255,255,255,0);
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
}

circle.orbcircle {
	fill: rgba(255,255,255,0.5);
	stroke: black;
	stroke-width: 2pt;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}
g.link:hover ellipse.link{
	fill: red;
}



/* !------------- controls -------------- */

.controls {
	position: absolute;
	right: 0;
	text-align: center;
	width: 200px;
	top: 0;
}

